.layout {
  display: flex;
  min-height: 100vh;
}

.content {
  margin-left:0px;
  flex: 1;
  min-width:100px;
  display: flex;
  flex-direction: column;
  background-color: #0a1223;
  transition: margin-left 0.25s ease;
  margin-top: 60px;
}

.content.collapsed {
  margin-left: 60px;
}

.page {
  flex: 1;
  padding: 20px ;
}