<nav class="navbar">
  <h2>Inventory System</h2>
<!-- my add -->
 <!-- Hamburger -->
  <div class="menu-toggle" (click)="toggleMenu()">
    ☰
  </div>


  <div class="links"[class.active]="isMenuOpen">
      <ng-container *ngIf="auth.getRole() === 'admin'">
    <a routerLink="/">Dashboard</a>
    <a routerLink="/users">Users</a>
    <a routerLink="/assets">Assets</a>
    <a routerLink="/repairs">Repairs</a>
</ng-container>
  <!-- 👤 NORMAL USER -->
  <ng-container *ngIf="auth.getRole() !== 'admin'">
    <a routerLink="/users">Users</a>
    <a routerLink="/repairs">Repairs</a>
  </ng-container>

</div>

</nav>